<br>
<footer class="footer footer-black footer-big text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 ml-auto mr-auto ">
        <div class="links ml-auto mr-auto">
          <ul>
            <% nav_options = {"top_tracks": "spotify_top_tracks", "top_artists": "spotify_top_artists", "recently_played": "spotify_recently_played", "favorite_genres": "spotify_user_genres"} %>
            <% if user_signed_in? %>
              <% nav_options.each do | key, value | %>
                <li>
                  <%= link_to t(key), value %>
                </li>
              <% end %>
            <% else %>
              <% nav_options.each do | key, value | %>
                <li>
                  <%= link_to t(key), '/auth/spotify' %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
