<br>
<footer class="footer footer-black footer-big text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 ml-auto mr-auto ">
        <div class="links ml-auto mr-auto">
          <ul>
            <% nav_options = {"Top Tracks": "spotify_top_tracks", "Top Artists": "spotify_top_artists", "Recently Played": "spotify_recently_played", "Favorite Genres": "spotify_user_genres"} %>
            <li class="nav-item">
              <%= link_to "Home", "/", class: "nav-link" %>
            </li>
            <% if user_signed_in? %>
              <% nav_options.each do | key, value | %>
                <li>
                  <%= link_to key, value %>
                </li>
              <% end %>
            <% else %>
              <% nav_options.each do | key, value | %>
                <li>
                  <%= link_to key, '/auth/spotify' %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
